/* app css stylesheet */
html {
  height: 100%;
}

body {
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  height: 100%;
}

.login-github a {
  background-image: url('/img/github.png');
  background-size: 256px 256px;
  height: 256px;
  width: 256px;
  display: inline-block;
}

#page-table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
    
#page-td {
  height: 100%;
  padding: 0;
  vertical-align: middle;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.myapp .panel-title a {
  font-weight:bold;
}

.pr-grid {
  width: 500px;
  height: 200px;
}
