/* app css stylesheet */

body {
  padding-top: 20px;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.myapp .panel-title a {
  font-weight:bold;
}

.pr-grid {
  width: 500px;
  height: 200px;
}
