html {
  height: 100%;
}
body {
  height: 100%;
}

.login-github a {
  background-image: url('/img/github.png');
  background-size: 128px 128px;
  height: 128px;
  width: 128px;
  display: inline-block;
}

#page-table {
  height: 100%;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
    
#page-td {
  height: 100%;
  padding: 0;
  vertical-align: middle;
}

