<!doctype html>
<html lang="en" ng-app="appDashboard">
<head>
  <meta charset="utf-8">
  <title>Youpi</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap-select/dist/css/bootstrap-select.min.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/jquery/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="bower_components/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="js/ui-bootstrap-tpls-0.12.0.min.js"></script>

  <script src="js/controllers.js"></script>
</head>
<body ng-controller="YnhAppDashboardCtrl">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li>
        <form class="navbar-form navbar-left">
          <button class="btn {{ onlymyapps | myappbtn }}" ng-click="onlymyapps = !onlymyapps">Show only my apps</button>
        </form>
      </li>
      <li>
        
        <form class="navbar-form navbar-left">
          <label>Sort by :</label>
          <select ng-model="orderProp" class="selectpicker">
            <option value="json.manifest.name">Application Name</option>
            <option value="json.manifest.developer.name">Maintainer</option>
            <option value="json.lastUpdate">Last updated</option>
          </select>
        </form>
      </li>
    </ul>
    <ul>
      <li>
        <form class="navbar-form navbar-right" role="search">
          <input ng-model="query" class="form-control" placeholder="Search...">
        </form>
      </li>
    </ul>
  </div>
  </nav>
  <div class="container">
<!--
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-10">
        <!--Body content-->
        <div ng-if="dataLoading">
            <img class="img-responsive center-block" src="img/loading.gif"></img>
        </div>
        
        <accordion close-others="oneAtATime">
          <accordion-group ng-repeat="app in apps | selectmyapps:onlymyapps | filter:query | orderBy:orderProp" class="{{ app | panelclass}}">
            <accordion-heading>
              {{app.json.manifest.name}}
              <div class="pull-right small">
                {{ app | status }}
              </div>
            </accordion-heading>
            
            <p><strong>Description</strong>: {{ app.json.manifest.description.en }}</p>
            <p><strong>Last update</strong>: {{ app.json.lastUpdate + "000" | date:'yyyy-MM-dd HH:mm:ss Z' }}</p>
            <p><strong>Maintainer</strong>: {{ app.json.manifest.developer.name }} <small class="text-muted">({{ app.json.manifest.developer.email }})</small></p>
            <p><strong>Git</strong>: <a href="{{ app.json.git.url }}" target="_blank">{{ app.json.git.url }}</a> 
              <small class="text-muted">({{ app.json.git.branch }})</small>
            </p>
            <p><strong>Published revision</strong>: {{ app.json.git.revision }}</p>
            <p><strong>Latest revision</strong>: {{ app.trunk_rev }}</p>
            <div ng-if="app | not_uptodate">
              <a href="{{ app.diff_url }}" target="_blank" class="btn btn-default">View diff</a>
              <a href="{{ app | validate_url }}" target="_blank" class="btn btn-default">Validate</a>
            </div>
          </accordion-group>
        </accordion>
<!--      </div>
      <div class="col-md-2"></div>
    </div>-->
    
  </div>
  <script>
    $( document ).ready(function() {
      $('.selectpicker').selectpicker();
    });
  </script>
</body>
</html>
